body {
    height: 100vh;
    background-size: cover;
    align-items: center;
}
#page-quote{
    font-family: Georgia, serif;
    color: white;
}
.header {
    background-color: white;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    font-size: large;
    font-weight: bolder;
    opacity: .5;

}
#button-1 { 
    background-color: black;
    margin-top: 800px;
    
}
#button-2 {
    background-color: black;
    margin-top: 800px;
    
}
.responsive {
    width: 100%;
    height: auto;
}